<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Reciepts2++.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AB89A1F11C6416CC00B9F46A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB89A20D1C6416CC00B9F46A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB89A2181C6416CC00B9F46A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
